Repository FranckKe/mersea, pull requests merged in 2019-05, with the labels that each got.

#270 Adds a geolocation button to AddReport
  frontend/src/components/AddReport.vue
  frontend/src/views/Home.vue
Labels: enhancement

#276 Optimize state initialization
  frontend/src/components/AddReport.vue
  frontend/src/components/MenuNav.vue
  frontend/src/components/ToolBar.vue
  frontend/src/components/tools/FilterReportsByDate.vue
  frontend/src/components/tools/FilterReportsByTracer.vue
  frontend/src/components/tools/Information.vue
  frontend/src/main.js
  frontend/src/store/modules/pages.js
  frontend/src/store/modules/toolBar.js
  frontend/src/store/modules/tracers.js
  frontend/src/views/Home.vue
  frontend/src/views/MyReports.vue
  frontend/src/views/Tracers.vue
Labels: enhancement

#277 Multiple fixes and changes
  app/models/concerns/report_manager.rb
  db/seeds.rb
  frontend/src/components/AddReport.vue
  frontend/src/components/Tool.vue
  frontend/src/components/ToolBar.vue
  frontend/src/components/TracersGrid.vue
  frontend/src/components/TracersList.vue
  frontend/src/components/tools/FilterReportsByDate.vue
  frontend/src/components/tools/FilterReportsByTracer.vue
  frontend/src/components/tools/FilterReportsByUser.vue
  frontend/src/components/tools/Information.vue
  frontend/src/i18n.js
  frontend/src/main.js
  frontend/src/views/Home.vue
  frontend/src/views/Leaderboard.vue
  frontend/src/views/Login.vue
  frontend/src/views/Me.vue
  frontend/src/views/MyReports.vue
  frontend/src/views/Register.vue
  frontend/src/views/Tracers.vue
Labels: bug, enhancement, front

#278 Add tracer sort on grid view
  frontend/src/components/TracersGrid.vue
  frontend/src/components/TracersList.vue
  frontend/src/views/Tracers.vue
Labels: enhancement, front

#279 Fix reports/map loading race
  frontend/src/components/MenuNav.vue
  frontend/src/components/tools/FilterReportsByTracer.vue
  frontend/src/main.js
  frontend/src/store/modules/pages.js
  frontend/src/store/modules/reports.js
  frontend/src/store/modules/tracers.js
  frontend/src/views/Home.vue
Labels: bug, front

#280 Increase http timeout
  frontend/src/components/AddReport.vue
  frontend/src/main.js
  frontend/src/store/modules/pages.js
  frontend/src/store/modules/reports.js
  frontend/src/store/modules/tracers.js
  frontend/src/views/Home.vue
Labels: enhancement, front
